<ng-container *ngIf="gameService.source$ | async as source">
    <RadSideDrawer [height]="screenHeight" verticalAlignment="bottom">
        <StackLayout tkDrawerContent class="sideStackLayout">
            <Label [text]="gameService.gameNameSync" style="horizontal-align: center" class="game-name"></Label>
            <StackLayout  
                [style.marginTop]="topPosBtnMainGroup">
                <button text="Save" backgroundColor="rgb(252, 41, 111)" [ngClass]="this.isLandscape?'btn-landscape':'btn'" [ngStyle]="btnFontSize"></button>
                <button text="Load" backgroundColor="rgb(252, 41, 111)" [ngClass]="this.isLandscape?'btn-landscape':'btn'" [ngStyle]="btnFontSize"></button>
                <button text="New game" (tap)="newGame()" backgroundColor="rgb(252, 41, 111)" [ngClass]="this.isLandscape?'btn-landscape':'btn'" [ngStyle]="btnFontSize"></button>
                <button text="Settings" backgroundColor="rgb(252, 41, 111)" [ngClass]="this.isLandscape?'btn-landscape':'btn'" [ngStyle]="btnFontSize"></button>
            </StackLayout>
            <StackLayout
                [style.marginTop]="topPosBtnGroup">
                <button text="Exit" (tap)="exit()" backgroundColor="rgb(74, 74, 197)" [ngClass]="this.isLandscape?'btn-landscape':'btn'" [ngStyle]="btnFontSize"></button>
                <button text="Back to game" (tap)="onCloseDrawerTap()" backgroundColor="rgb(74, 74, 197)" [ngClass]="this.isLandscape?'btn-landscape':'btn'" [ngStyle]="btnFontSize"></button>
            </StackLayout>
        </StackLayout>
        <StackLayout tkMainContent>
            <AbsoluteLayout [backgroundImage]="getBackground(source.background)" class="container">
                <!-- Person -->
                <StackLayout
                    *ngIf="source.person"
                    width="100%"
                    height="100%"
                    orientation="horizontal">
                    <StackLayout
                        verticalAlignment="bottom"
                        width="100%"
                        height="85%">
                        <StackLayout
                            text="center"
                            horizontalAlignment="center">
                            <image [src]="getPerson(source.person)"></image>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
                <!-- Choice -->
                <StackLayout
                    *ngIf="source.sourceLinks.length > 1"
                    [top]="choiceTopPos"
                    width="100%">
                    <ng-container *ngFor="let link of source.sourceLinks">
                        <StackLayout 
                            (tap)="gameService.nextSource(link.src, true)"
                            class="choice-item"
                            horizontalAlignment="center"
                            width="70%"
                            marginTop="20">
                            <label
                                horizontalAlignment="center"
                                [text]="link.lable">
                            </label>
                        </StackLayout>
                    </ng-container>
                </StackLayout>
                <!-- Dialog -->
                <StackLayout
                    [top]="dialogTopPos"
                    width="100%"
                    [height]="dialogHeight"
                    [style.fontSize]="fontSize * 1.6 + 'px'"
                    class="dialog"
                    (tap)="gameService.nextSource(source.sourceLinks[0].src)">
                    <StackLayout class="title" [height]="fontSize * 2 * scale + 'px'">
                        <label 
                            *ngIf="source.gameDialog.title" 
                            [style.color]="source.gameDialog.title?.color"
                            [style.fontSize]="fontSize * 1.9 + 'px'"
                            [text]="source.gameDialog.title?.text">
                        </label>
                    </StackLayout>
                    <label 
                        [text]="gameService.gameDialog$ | async" 
                        class="discription" 
                        textWrap="true">
                    </label>
                </StackLayout>
                <!-- Bottom Menu -->
                <FlexboxLayout
                    [top]="bottomMenuTopPos"
                    width="100%"
                    [height]="bottomMenuHeight"
                    orientation="horizontal"
                    justifyContent="space-around"
                    class="menu"
                    [style.fontSize]="fontSize + 'px'">
                    <label text="Back" class="menu-item" (tap)="gameService.back()"></label>
                    <label text="Skip" class="menu-item" (tap)="gameService.skip(source.sourceLinks)"></label>
                    <label text="Auto" class="menu-item" [ngClass]="{'menu-item-active':gameService.isAuto}" (tap)="gameService.tougleAutoMode()"></label>
                    <label text="Menu" class="menu-item" (tap)="openDrawer(); gameService.isAuto = false"></label>
                </FlexboxLayout>

            </AbsoluteLayout>
        </StackLayout>
    </RadSideDrawer>
</ng-container> 