<div class="wrapper">
    <div class="label">Mynovel</div>
    <div class="buttons">
        <button 
            mat-raised-button 
            color="primary" 
            class="btn"
            (click)="routing('games')">
            Games
        </button>
        <button 
            mat-raised-button 
            color="primary" 
            class="btn"
            (click)="routing('constructor')">
            Game constructor
        </button>
        <button 
            mat-raised-button 
            color="accent" 
            class="btn"
            (click)="routing()">
            Login
        </button>
        <button 
            mat-raised-button 
            color="accent" 
            class="btn"
            (click)="routing()">
            Logout
        </button>
    </div>
</div>
