@import "../../../../assets/styles/colors";

.container {
    margin-top: 5px;
    height: 99%;
    width: 100%;
    .title {
        font-size: 32px;
        color: $accent;
        margin-bottom: 20px;
    }

    .slider-container{
        display: flex;
        height: 75px;
        align-items: center;
        font-size: 28px;
        .label {
            width: 250px;
            display: flex;
            align-items: center;
        }
        .slider {
            width: 250px;
        }
        .value {
            margin-left: 20px;
            display: flex;
            align-items: center;
            color: $accent;
            font-weight: bold;
        }
    }
}