.container {
    height: 100%;
    width: 100%;
    .sidenav {
        width: 400px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.801);
    }
    .secondary-layout-wrap {
        box-sizing: border-box;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        .secondary-layout {
            min-height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 25px;
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, 0.5);
            backdrop-filter: blur(10px);
            .content {
                height: 1px;
                flex: 1 1 auto;
                color: white;
                overflow: auto;
            }
            .footer {
                padding: 30px 0px 0px 0px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                gap: 20px;
            }
        }
    }
}

.m-t {
    margin-top: 100px;
}