<ng-container *ngIf="gameService.source$ | async as source">
    <mat-drawer-container class="container" autosize>
        <mat-drawer #drawer class="sidenav" mode="over" autoFocus="false">
            <app-game-menu 
                (close)="drawer.close()" 
                (newLayout)="switchLayout($event)"
                (save$)="save(source.id)">
            </app-game-menu>
        </mat-drawer>
    
        <myorg-game-area *ngIf="activeLayout === gameLayoutEnum.GameArea" [source]="source" (drawerToggle)="drawer.toggle()"></myorg-game-area>

        <div 
            *ngIf="activeLayout === gameLayoutEnum.Setting || activeLayout === gameLayoutEnum.Saving" 
            class="secondary-layout-wrap"
            [style.background-image]="getBackground(source.background)">
            <div class="secondary-layout">
                <div class="content">
                    <myorg-settings *ngIf="activeLayout === gameLayoutEnum.Setting"></myorg-settings>
                    <myorg-savings 
                        *ngIf="activeLayout === gameLayoutEnum.Saving" 
                        (exit)="switchLayout(gameLayoutEnum.GameArea)">
                    </myorg-savings>
                </div>
                <div class="footer">
                    <button 
                        mat-raised-button 
                        color="primary" 
                        class="btn"
                        (click)="drawer.toggle()">
                        Menu
                    </button>
                    <button 
                        mat-raised-button 
                        color="primary" 
                        class="btn"
                        (click)="switchLayout(gameLayoutEnum.GameArea)">
                        Exit
                    </button>
                </div>
            </div>
        </div>
    </mat-drawer-container>
</ng-container>
  